<div class="m-3">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <div>
          <h3>Horizontal Form Generator</h3>
        </div>
        <div>
          <button class="btn btn-success btn-sm me-1"><i class="fas fa-edit"></i> Properties</button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <ng-container *ngFor="let section of horizontalForm.sections">
        <div class="mb-2">
          <div class="card bg-body-secondary">
            <div class="card-header">
              <div class="d-flex justify-content-between">
                <div>
                  <h3>{{section.title}}</h3>
                  <small>{{section.subTitle}}</small>
                </div>
                <div>
                  <button class="btn btn-success btn-sm me-1" (click)="viewSectionPropertiesSidePanel(section.id)"><i
                      class="fas fa-edit"></i> Section Properties</button>
                  <button class="btn btn-danger btn-sm" (click)="removeSection(section.id)"><i class="fas fa-trash"></i>
                    Remove
                    Section</button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <ng-container *ngFor="let element of section.elements">
                <ng-container *ngIf="element.type === fields[0] && element.textBoxComponent">
                  <div class="card m-1">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-8">
                          <div class="form-group">
                            <label class="mb-1"><b>{{element.textBoxComponent.label}}</b></label>
                            <input type="{{element.textBoxComponent.type}}" class="{{element.textBoxComponent.class}}"
                              placeholder="{{element.textBoxComponent.placeholder}}" style="width: 100%;">
                          </div>
                        </div>

                        <div class="col-4">
                          <div class="d-flex align-items-end" style="height: 100%;">
                            <button class="btn btn-success btn-sm me-1"
                              (click)="viewTextBoxPropertiesSidePanel(section.id, element.textBoxComponent.id)"><i
                                class="fas fa-edit"></i> Properties</button>
                            <button class="btn btn-danger btn-sm"
                              (click)="removeField(element.type, section.id, element.textBoxComponent.id)"><i
                                class="fas fa-trash"></i> Remove</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="element.type === fields[1] && element.textAreaComponent">
                  <div class="card m-1">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-8">
                          <div class="form-group">
                            <label class="mb-1"><b>{{element.textAreaComponent.label}}</b></label>
                            <textarea class="{{element.textAreaComponent.class}}"
                              placeholder="{{element.textAreaComponent.placeholder}}"
                              rows="{{element.textAreaComponent.rows}}" cols="{{element.textAreaComponent.columns}}"
                              style="width: 100%;"></textarea>
                          </div>
                        </div>

                        <div class="col-4">
                          <div class="d-flex align-items-end" style="height: 100%;">
                            <button class="btn btn-success btn-sm me-1"
                              (click)="viewTextAreaPropertiesSidePanel(section.id, element.textAreaComponent.id)"><i
                                class="fas fa-edit"></i> Properties</button>
                            <button class="btn btn-danger btn-sm"
                              (click)="removeField(element.type, section.id, element.textAreaComponent.id)"><i
                                class="fas fa-trash"></i> Remove</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>

              <div class="mt-2 d-flex justify-content-end">
                <button class="btn btn-primary btn-sm" (click)="viewFieldSelectionSidePanel(section.id)"><i
                    class="fas fa-plus-circle"></i> Add Field</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="d-flex justify-content-end">
        <button class="btn btn-primary btn-sm" (click)="addSection()"><i class="fas fa-plus-circle"></i> Add
          Section</button>
      </div>
    </div>
  </div>
</div>

<app-field-selection-sidepanel *ngIf="isFieldSelectionSidePanelOpen" (hidePanelEvent)="hideFieldSelectionSidePanel()"
  (selectedTypeEvent)="addField($event)"></app-field-selection-sidepanel>

<app-section-properties-sidepanel *ngIf="isSectionPropertiesSidePanelOpen"
  [sectionProperties]="selectedForSectionPropertiesUpdate" (hidePanelEvent)="hideSectionPropertiesSidePanel()"
  (saveChangesEvent)="saveSectionProperties($event)"></app-section-properties-sidepanel>

<app-textbox-properties-sidepanel *ngIf="isTextBoxPropertiesSidePanelOpen"
  [textboxProperties]="selectedForTextboxPropertiesUpdate" (hidePanelEvent)="hideTextBoxPropertiesSidePanel()"
  (saveChangesEvent)="saveTextboxProperties($event)"></app-textbox-properties-sidepanel>

<app-textarea-properties-sidepanel *ngIf="isTextAreaPropertiesSidePanelOpen"
  [textareaProperties]="selectedForTextareaPropertiesUpdate" (hidePanelEvent)="hideTextAreaPropertiesSidePanel()"
  (saveChangesEvent)="saveTextareaProperties($event)"></app-textarea-properties-sidepanel>