/* You can add global styles to this file, and also import other style files */
.details-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 440px;
  height: 100%;
  background-color: white;
}

.details-section {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar-card-body {
  padding-top: 10px !important;
}
