<aside class="details-sidebar card">
  <div class="details-section">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <span>
          <h4 class="modal-title">Textbox Properties</h4>
        </span>
        <span>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="hide()">
            <i class="fas fa-times"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="card-body sidebar-card-body">
      <form [formGroup]="form">
        <div class="form-horizontal">
          <div class="form-group">
            <span><b>Component ID:</b></span>
            <span class="ms-1">{{textboxProperties?.properties?.id}}</span>
          </div>
          <hr>

          <div class="form-group mb-2">
            <label class="mb-1"><b>Order*</b></label>
            <input type="number" class="form-control" formControlName="order">
            <!-- <small
              *ngIf="isSubmitClicked && form.controls['title']?.errors && form.controls['title']?.errors?.['required']"
              class="text-danger">Title is Required!</small> -->
          </div>

          <div class="form-group mb-2">
            <label class="mb-1"><b>Name*</b></label>
            <input type="text" class="form-control" formControlName="name">
          </div>

          <div class="form-group mb-2">
            <label class="mb-1"><b>Label*</b></label>
            <input type="" class="form-control" formControlName="label">
          </div>

          <div class="form-group mb-2">
            <label class="mb-1"><b>Type</b></label>
            <select class="form-control" (change)="changeType()" formControlName="type">
              <option value="">Select Type</option>
              <option *ngFor="let textboxType of textboxTypes" value="{{textboxType.type}}">{{textboxType.type}}
              </option>
            </select>
          </div>

          <div class="form-group mb-2">
            <label class="mb-1"><b>Placeholder</b></label>
            <input type="text" class="form-control" formControlName="placeholder">
          </div>

          <div class="form-group mb-2">
            <label class="mb-1"><b>Class</b></label>
            <input type="text" class="form-control" formControlName="class">
          </div>

          <div class="form-group mb-2">
            <label class="mb-1"><b>User Defined Id</b></label>
            <input type="text" class="form-control" formControlName="userDefinedId">
          </div>

          <div class="form-group mb-2">
            <label class="mb-1"><b>Value</b></label>
            <input type="text" class="form-control" formControlName="value">
          </div>

          <div class="form-group mb-2">
            <input type="checkbox" formControlName="isReadOnly"><span class="ms-1">Is Readonly</span>
          </div>

          <div class="form-group mb-2">
            <input type="checkbox" formControlName="isHidden"><span class="ms-1">Is Hidden</span>
          </div>

          <div class="form-group mb-2">
            <input type="checkbox" formControlName="isRequired"><span class="ms-1">Is Required</span>
          </div>

          <div class="form-group mb-2">
            <label class="mb-1"><b>Required Message</b></label>
            <input type="text" class="form-control" formControlName="requiredMessage">
          </div>

          <ng-container *ngIf="canUseEmailValidation">
            <div class="form-group mb-2">
              <input type="checkbox">
              <span class="ms-1">Email Validation</span>
            </div>

            <div class="form-group mb-2">
              <label class="mb-1"><b>Email Validation Message</b></label>
              <input type="text" class="form-control">
            </div>
          </ng-container>

          <ng-container *ngIf="canUseMinValidation">
            <div class="form-group mb-2">
              <label class="mb-1"><b>Min Validation</b></label>
              <input type="number" class="form-control">
            </div>

            <div class="form-group mb-2">
              <label class="mb-1"><b>Min Validation Message</b></label>
              <input type="text" class="form-control">
            </div>
          </ng-container>

          <ng-container *ngIf="canUseMaxValidation">
            <div class="form-group mb-2">
              <label class="mb-1"><b>Max Validation</b></label>
              <input type="number" class="form-control">
            </div>

            <div class="form-group mb-2">
              <label class="mb-1"><b>Max Validation Message</b></label>
              <input type="text" class="form-control">
            </div>
          </ng-container>

          <ng-container *ngIf="canUseMinLenValidation">
            <div class="form-group mb-2">
              <label class="mb-1"><b>Min Count Validation</b></label>
              <input type="number" class="form-control">
            </div>

            <div class="form-group mb-2">
              <label class="mb-1"><b>Min Count Validation Message</b></label>
              <input type="text" class="form-control">
            </div>
          </ng-container>

          <ng-container *ngIf="canUseMaxLenValidation">
            <div class="form-group mb-2">
              <label class="mb-1"><b>Max Count Validation</b></label>
              <input type="number" class="form-control">
            </div>

            <div class="form-group mb-2">
              <label class="mb-1"><b>Max Count Validation Message</b></label>
              <input type="text" class="form-control">
            </div>
          </ng-container>

          <div class="form-group mb-2">
            <label class="mb-1"><b>Regex Validation</b></label>
            <input type="text" class="form-control" formControlName="regex">
          </div>

          <div class="form-group mb-2">
            <label class="mb-1"><b>Regex Validation Message</b></label>
            <input type="text" class="form-control" formControlName="regexMessage">
          </div>
          <hr>

          <div class="form-group">
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Save Changes</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</aside>