<div class="container container-fluid">
    <div class="m-3">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <ng-container *ngFor="let section of sections">
                <div [ngClass]="section.class">
                    <div [ngClass]="section.headerClass">
                        <h4>{{section.title}}</h4>
                        <small>{{section.subTitle}}</small>
                    </div>
                    <div [ngClass]="section.bodyClass">
                        <div class="form-horizontal">
                            <ng-container *ngFor="let element of section.elements">
                                <ng-container *ngIf="element.textBoxComponent">
                                    <div class="form-group mb-3" [hidden]="element.textBoxComponent.isHidden">
                                        <label class="mb-1"><b>{{element.textBoxComponent.label}}</b></label>
                                        <input type="{{element.textBoxComponent.type}}"
                                            class="{{element.textBoxComponent.class}}"
                                            placeholder="{{element.textBoxComponent.placeholder}}"
                                            formControlName="{{element.textBoxComponent.name}}"
                                            [readOnly]="element.textBoxComponent.isReadOnly">

                                        <ng-container *ngIf="element.textBoxComponent.isRequired">
                                            <small
                                                *ngIf="isSubmitClicked && form.controls[element.textBoxComponent.name]?.errors && form.controls[element.textBoxComponent.name]?.errors?.['required']"
                                                class="text-danger">{{element.textBoxComponent.requiredMessage}}</small>
                                        </ng-container>

                                        <ng-container *ngFor="let tbValidation of element.textBoxComponent.validations">
                                            <ng-container *ngIf="tbValidation.type === textboxValidationEnum.EMAIL">
                                                <small
                                                    *ngIf="isSubmitClicked && form.controls[element.textBoxComponent.name]?.errors && form.controls[element.textBoxComponent.name]?.errors?.['email']"
                                                    class="text-danger">{{tbValidation.message}}</small>
                                            </ng-container>

                                            <ng-container *ngIf="tbValidation.type === textboxValidationEnum.MIN">
                                                <small
                                                    *ngIf="isSubmitClicked && form.controls[element.textBoxComponent.name]?.errors && form.controls[element.textBoxComponent.name]?.errors?.['min']"
                                                    class="text-danger">{{tbValidation.message}}</small>
                                            </ng-container>

                                            <ng-container *ngIf="tbValidation.type === textboxValidationEnum.MAX">
                                                <small
                                                    *ngIf="isSubmitClicked && form.controls[element.textBoxComponent.name]?.errors && form.controls[element.textBoxComponent.name]?.errors?.['max']"
                                                    class="text-danger">{{tbValidation.message}}</small>
                                            </ng-container>

                                            <ng-container *ngIf="tbValidation.type === textboxValidationEnum.MIN_LEN">
                                                <small
                                                    *ngIf="isSubmitClicked && form.controls[element.textBoxComponent.name]?.errors && form.controls[element.textBoxComponent.name]?.errors?.['minlength']"
                                                    class="text-danger">{{tbValidation.message}}</small>
                                            </ng-container>

                                            <ng-container *ngIf="tbValidation.type === textboxValidationEnum.MAX_LEN">
                                                <small
                                                    *ngIf="isSubmitClicked && form.controls[element.textBoxComponent.name]?.errors && form.controls[element.textBoxComponent.name]?.errors?.['maxlength']"
                                                    class="text-danger">{{tbValidation.message}}</small>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="element.textAreaComponent">
                                    <div class="form-group mb-3" [hidden]="element.textAreaComponent.isHidden">
                                        <label class="mb-1"><b>{{element.textAreaComponent.label}}</b></label>
                                        <textarea cols="{{element.textAreaComponent.columns}}"
                                            rows="{{element.textAreaComponent.rows}}"
                                            class="{{element.textAreaComponent.class}}"
                                            placeholder="{{element.textAreaComponent.placeholder}}"
                                            formControlName="{{element.textAreaComponent.name}}"
                                            [readOnly]="element.textAreaComponent.isReadOnly"></textarea>

                                        <ng-container *ngIf="element.textAreaComponent.isRequired">
                                            <small
                                                *ngIf="isSubmitClicked && form.controls[element.textAreaComponent.name]?.errors && form.controls[element.textAreaComponent.name]?.errors?.['required']"
                                                class="text-danger">{{element.textAreaComponent.requiredMessage}}</small>
                                        </ng-container>

                                        <ng-container
                                            *ngFor="let tbValidation of element.textAreaComponent.validations">
                                            <ng-container *ngIf="tbValidation.type === textboxValidationEnum.MIN_LEN">
                                                <small
                                                    *ngIf="isSubmitClicked && form.controls[element.textAreaComponent.name]?.errors && form.controls[element.textAreaComponent.name]?.errors?.['minlength']"
                                                    class="text-danger">{{tbValidation.message}}</small>
                                            </ng-container>

                                            <ng-container *ngIf="tbValidation.type === textboxValidationEnum.MAX_LEN">
                                                <small
                                                    *ngIf="isSubmitClicked && form.controls[element.textAreaComponent.name]?.errors && form.controls[element.textAreaComponent.name]?.errors?.['maxlength']"
                                                    class="text-danger">{{tbValidation.message}}</small>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="element.fileFieldComponent">
                                    <div class="form-group mb-3" [hidden]="element.fileFieldComponent.isHidden">
                                        <label class="mb-1"><b>{{element.fileFieldComponent.label}}</b></label>
                                        <input type="file" name="{{element.fileFieldComponent.name}}"
                                            class="{{element.fileFieldComponent.class}}"
                                            [multiple]="element.fileFieldComponent.isMultiple"
                                            accept="{{element.fileFieldComponent.accept}}"
                                            (change)="fileChangeEvent($event, element.fileFieldComponent)">

                                        <ng-container *ngIf="browsedFiles.get(element.fileFieldComponent.id)">
                                            <div>
                                                <small
                                                    *ngIf="isSubmitClicked && browsedFiles.get(element.fileFieldComponent.id)?.required && !browsedFiles.get(element.fileFieldComponent.id)?.hasFiles"
                                                    class="text-danger">{{browsedFiles.get(element.fileFieldComponent.id)?.requiredMessage}}</small>
                                            </div>
                                        </ng-container>

                                        <ng-container *ngIf="browsedFiles.get(element.fileFieldComponent.id)">
                                            <div>
                                                <small
                                                    *ngIf="isSubmitClicked && !browsedFiles.get(element.fileFieldComponent.id)?.sizeValid"
                                                    class="text-danger">{{browsedFiles.get(element.fileFieldComponent.id)?.sizeValidationMessage}}</small>
                                            </div>
                                        </ng-container>

                                        <ng-container *ngIf="browsedFiles.get(element.fileFieldComponent.id)">
                                            <div>
                                                <small
                                                    *ngIf="isSubmitClicked && !browsedFiles.get(element.fileFieldComponent.id)?.extensionsValid"
                                                    class="text-danger">
                                                    <span
                                                        *ngFor="let extensionValidationMessage of browsedFiles.get(element.fileFieldComponent.id)?.extendsionValidationMessages">
                                                        {{extensionValidationMessage}}</span>
                                                </small>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>

            <hr>

            <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Submit</button>

                <ng-container *ngIf="preset">
                    <ng-container *ngIf="preset.isResetButtonAvailable">
                        <button class="btn btn-warning ms-1">Reset</button>
                    </ng-container>
                </ng-container>
            </div>
        </form>
    </div>
</div>