<div class="container container-fluid">
    <div class="m-3">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <ng-container *ngFor="let section of sections">
                <div [ngClass]="section.class">
                    <div [ngClass]="section.headerClass">
                        <h4>{{section.title}}</h4>
                        <small>{{section.subTitle}}</small>
                    </div>
                    <div [ngClass]="section.bodyClass">
                        <div class="form-horizontal">
                            <ng-container *ngFor="let element of section.elements">
                                <ng-container *ngIf="element.textBoxComponent">
                                    <div class="form-group" [hidden]="element.textBoxComponent.isHidden">
                                        <label class="mb-1"><b>{{element.textBoxComponent.label}}</b></label>
                                        <input type="{{element.textBoxComponent.type}}"
                                            class="{{element.textBoxComponent.class}}"
                                            placeholder="{{element.textBoxComponent.placeholder}}"
                                            formControlName="{{element.textBoxComponent.name}}"
                                            [readOnly]="element.textBoxComponent.isReadOnly">

                                        <ng-container *ngIf="element.textBoxComponent.isRequired">
                                            <small
                                                *ngIf="isSubmitClicked && form.controls[element.textBoxComponent.name]?.errors && form.controls[element.textBoxComponent.name]?.errors?.['required']"
                                                class="text-danger">{{element.textBoxComponent.requiredMessage}}</small>
                                        </ng-container>

                                        <ng-container *ngFor="let tbValidation of element.textBoxComponent.validations">
                                            <ng-container *ngIf="tbValidation.type === textboxValidationEnum.EMAIL">
                                                <small
                                                    *ngIf="isSubmitClicked && form.controls[element.textBoxComponent.name]?.errors && form.controls[element.textBoxComponent.name]?.errors?.['email']"
                                                    class="text-danger">{{tbValidation.message}}</small>
                                            </ng-container>

                                            <ng-container *ngIf="tbValidation.type === textboxValidationEnum.MIN">
                                                <small
                                                    *ngIf="isSubmitClicked && form.controls[element.textBoxComponent.name]?.errors && form.controls[element.textBoxComponent.name]?.errors?.['min']"
                                                    class="text-danger">{{tbValidation.message}}</small>
                                            </ng-container>

                                            <ng-container *ngIf="tbValidation.type === textboxValidationEnum.MAX">
                                                <small
                                                    *ngIf="isSubmitClicked && form.controls[element.textBoxComponent.name]?.errors && form.controls[element.textBoxComponent.name]?.errors?.['max']"
                                                    class="text-danger">{{tbValidation.message}}</small>
                                            </ng-container>

                                            <ng-container *ngIf="tbValidation.type === textboxValidationEnum.MIN_LEN">
                                                <small
                                                    *ngIf="isSubmitClicked && form.controls[element.textBoxComponent.name]?.errors && form.controls[element.textBoxComponent.name]?.errors?.['minlength']"
                                                    class="text-danger">{{tbValidation.message}}</small>
                                            </ng-container>

                                            <ng-container *ngIf="tbValidation.type === textboxValidationEnum.MAX_LEN">
                                                <small
                                                    *ngIf="isSubmitClicked && form.controls[element.textBoxComponent.name]?.errors && form.controls[element.textBoxComponent.name]?.errors?.['maxlength']"
                                                    class="text-danger">{{tbValidation.message}}</small>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>

            <hr>

            <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Submit</button>

                <ng-container *ngIf="preset">
                    <ng-container *ngIf="preset.isResetButtonAvailable">
                        <button class="btn btn-warning ms-1">Reset</button>
                    </ng-container>
                </ng-container>
            </div>
        </form>
    </div>
</div>